@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);
@import url(../blocks/root/root.css);

@import url(../blocks/section-title/section-title.css);
@import url(../blocks/section-subtitle/section-subtitle.css);
@import url(../blocks/span-italic/span-italic.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/header__logo/header__logo.css);
@import url(../blocks/header-logo/header-logo.css);
@import url(../blocks/header-logo/header-logo__line/header-logo__line.css);
@import url(../blocks/header-logo/header-logo__logo/header-logo__logo.css);
@import url(../blocks/header-logo/header-logo__phrase/header-logo__phrase.css);

@import url(../blocks/menu/menu.css);
@import url(../blocks/menu/menu__link/menu__link.css);

@import url(../blocks/contacts/contacts.css);
@import url(../blocks/phone-numbers/phone-numbers.css);
@import url(../blocks/phone-numbers/phone-numbers__number/phone-numbers__number.css);
@import url(../blocks/contacts/contacts__call-button/contacts__call-button.css);

@import url(../blocks/request-call/request-call.css);
@import url(../blocks/request-call/request-call__call/request-call__call.css);
@import url(../blocks/request-call/request-call__working-hours/request-call__working-hours.css);

@import url(../blocks/main-screen/main-screen.css);
@import url(../blocks/main-screen/main-screeen__image/main-screeen__image.css);
@import url(../blocks/main-screen-info/main-screen-info.css);
@import url(../blocks/main-screen-info/main-screen-info__header/main-screen-info__header.css);
@import url(../blocks/main-screen-info/main-screen-info__header/main-screen-info__header_italic/main-screen-info__header_italic.css);
@import url(../blocks/main-screen-info/main-screen-info__subheader/main-screen-info__subheader.css);
@import url(../blocks/main-buttons/main-buttons.css);
@import url(../blocks/main-buttons/main-buttons__choose-smokehouse/main-buttons__choose-smokehouse.css);

@import url(../blocks/add-options/add-options.css);
@import url(../blocks/add-options/add-options__button/add-options__button.css);
@import url(../blocks/add-options/add-options__text/add-options__text.css);

@import url(../blocks/advantages/advantages.css);
@import url(../blocks/advantages/advantages__icon/advantages__icon.css);
@import url(../blocks/advantages/advantages__text/advantages__text.css);

@import url(../blocks/benefits/benefits.css);
@import url(../blocks/benefits/benefits__header/benefits__header.css);

@import url(../blocks/cards/cards.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card-text/card-text.css);
@import url(../blocks/card-text/__description/card-text__description.css);
@import url(../blocks/card-text/__header/card-text__header.css);

@import url(../blocks/details/details.css);
@import url(../blocks/details-container/details-container.css);
@import url(../blocks/details-card/details-card.css);
@import url(../blocks/details-card/__image/details-card__image.css);
@import url(../blocks/details-card-text/details-card-text.css);
@import url(../blocks/details-card-text/__header/details-card-text__header.css);
@import url(../blocks/details-card-text/__line/details-card-text__line.css);
@import url(../blocks/details-card-text/__description/details-card-text__description.css);


@import url(../blocks/kit/kit.css);
